@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeaderViewComponentPartial")

<body>

    <!-- Navbar menu -->
    @await Component.InvokeAsync("_NavbarViewComponentPartial")

    @RenderBody()

    <!-- Footer -->
    @await Component.InvokeAsync("_DefaultFooterViewComponentPartial")

    <!-- Javascript (jQuery) -->
    @await Component.InvokeAsync("_DefaultScriptViewComponentPartial")

</body>
</html>
